#cadastro{
    width: 600px;
    height: 550px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  /* padding-top: 5px;*/
   
    box-sizing: border-box;
    
}

.cadastroUsuario{
    width:inherit;
    height: 70px;
    background-color: slateblue;
    margin-top: 10px;
    
    
}


#botao{
    height: 50px;
    width: 100px;
    margin-left: 240px;
   margin-top:20px;
}



.inputCadastro{
   width: 400px;
    height: 30px;
    margin-left: 80px;
    margin-top: 15px;
    box-sizing: border-box;
    
}

.labelRegistro{
    margin-left: 20px;
    box-sizing: border-box;
    background-color: white;

    
    
    
    
    
    
}












.colunasRegistro{
    width: 200px;
    height: 50px;
    background-color: white;
     padding-left: 5px;

    
    
}

.clnRegistro{
    width: 200px;
    height: 50px;
    background-color: lightskyblue;
    
}

.tblRegistro{
     width: 1300px;
    height: 150px;
    background-color: blue;
    margin: auto;
    margin-top: 100px;
   
    
}

.colunasResultado{
     width: 200px;
    height: 50px;
    background-color:beige;
    
}


.editar{
   width: 40px;
    height: 40px;
    padding-left: 20px;
}


.excluir{
    width: 40px;
    height: 40px;
     padding-left: 20px;
    
}
#imagem{
    width: 200px;
    height: 200px;
    background-color: slateblue;
    float: right;
    margin-top: -450px;
  margin-right: 60px;
}

#promocao{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 150px;
    margin-top: 20px;
}

#labelPromocao{
    margin-left: 20px;
    box-sizing: border-box;
    background-color: white;

    
    
}

.cadastroPromo{
    width:inherit;
    height: 70px;
    background-color: slateblue;
    margin-top: 10px;
   
    
    
}

#texto{
    color: white;
    font-size: 15px;
    margin-left: 300px;
    padding-top: 210px;
    
}